*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;;
}


body{
    background: url(../images/BGfinal.jpg);
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


form{

    .formBG{
        background-color: black;
        width: 27%;
        height: 460px;
        opacity: .8;
        position: absolute;
        top: 54%;
        left: 50%;  
        transform: translate(-50%,-50%);
    }

    p#login{
        color: white;
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: 1.3rem;
    }

    p#loginError{
        color: red;
        position: absolute;
        top: 34%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: .9rem;
    }

    .form-group_username{
        width: 20%;
    
        /* for centering the form-group */
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%,-50%);
    
    }

    .form-group_email{
        width: 20%;
    
        /* for centering the form-group */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    
    }
    
    .form-group_pwd{
        width: 20%;
    
        /* for centering the form-group */
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%,-50%);
    
    }
    
    input{
        display: block;
        width: 100%;
        color: #eee;
        border: none;
        border-bottom: 2px solid #eee;
        background-color: transparent;
        padding: 12px;
        outline: none;
    }
    
    label{
        position: absolute;
        top: -40%;
        left:0;
        opacity:1;
        transition: all 0.3s;
        font-family: Verdana;
        font-size: 13px;
        color: #eee;
    
    }
    
    /* The placeholder-shown CSS pseudi-class represents any <input> or <textarea> element that is currently displaying placeholder text  */
    
    input:placeholder-shown + label{
        top:20%;
        left:12px;
        opacity: 0;
    
    }
    
    button{
        background: white;
        padding: 10px 40px;
        border: none;
        border-radius: 5px;
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%,-50%);   
        transition: all 0.3s ease;
    }

    button:hover{
        background-color: rgb(255, 87, 227);
        color: white;
    }

    input:placeholder-shown{
        color: white;
    }

    :-ms-input-placeholder{
        color: white;
    }
    ::-webkit-input-placeholder{
        color: white;
    }
    :-moz-placeholder{
        color: white;
    }

    .lostPassword{
        text-decoration: none;
        color: grey;
        font-size: .8rem;
        padding: 10px;
        position: absolute;
        top: 75%;
        left: 50%;
        transform: translate(-50%,-50%);
        transition: all 0.3s ease;
    }

    .lostPassword:hover{
        color: rgb(209, 209, 209);
    }

    .newUser{
        text-decoration: none;
        color: grey;
        font-size: .8rem;
        padding: 10px;
        position: absolute;
        top: 78%;
        left: 50%;
        transform: translate(-50%,-50%);
        transition: all 0.3s ease;
    }

    .newUser:hover{
        color: rgb(209, 209, 209);
    }
}